.body{
	 display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  background:#fffffa;
}
.buttonsx
{	padding: 18px;
	background-color: rgb(154, 207, 208);
	height: auto;
}
.cancion{
		padding: 18px;
		border: 1px solid red;
		margin-top: 15px;
		background-color: cadetblue;
	}
	.contenedorImagen{
		width: 30%;
		height: auto;
		float: left;
	}
	.imagenCancion{
		 display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
	}
	.clear{
		clear: both;		
	}
	.contenedorTexto {
width: auto;
float: right;
}